# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Data files — only exclude raw
data/raw/

# Keep model evaluation plots
!data/processed/*.png

# Environment
.env

# MLflow
mlruns/

# OS
.DS_Store
Thumbs.db